<h2 class="h1 mb-5 pb-3 text-center">Productos populares</h2>
  <div class="cs-carousel cs-nav-outside">
    <div class="cs-carousel-inner cs-carousel-inner-five" data-carousel-options='{
      
    }'>

      <!-- Category -->
      <div class="pb-2">
        <a class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
            <img src="./assets/img/ecommerce/shop/nutras-pig.jpg" alt="Category image">
          </div>
          <h3 class="h5 mb-3">Nutras Pig</h3>
        </a>
      </div>

      <!-- Category -->
      <div class="pb-2">
        <a class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
            <img src="./assets/img/ecommerce/shop/max-all.jpg" alt="Category image">
          </div>
          <h3 class="h5 mb-3">Suplemento Max-all</h3>
        </a>
      </div>

      <!-- Category -->
      <div class="pb-2">
        <a class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
            <img src="./assets/img/ecommerce/shop/perrazo.jpg" alt="Category image">
          </div>
          <h3 class="h5 mb-3">Perrazo</h3>
        </a>
      </div>

      <!-- Category -->
      <div class="pb-2">
        <a class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
            <img src="./assets/img/ecommerce/shop/microfos.jpg" alt="Category image">
          </div>
          <h3 class="h5 mb-3">Microfos 12</h3>
        </a>
      </div>

      <!-- Category -->
      <div class="pb-2">
        <a class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
            <img src="./assets/img/ecommerce/shop/tecnofos.jpg" alt="Category image">
          </div>
          <h3 class="h5 mb-3">Tecnofos 4:40</h3>
        </a>
      </div>

      <!-- Category -->
      <div class="pb-2">
        <a class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
            <img src="./assets/img/ecommerce/shop/becerro20.jpg" alt="Category image">
          </div>
          <h3 class="h5 mb-3">Becerro 20</h3>
        </a>
      </div>

    </div>
    <div class="text-center pt-4 pt-md-5">
      <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" target="_blank" class="btn background-btn-naranja btn-lg">Contactar con Proveedor</a>
    </div>
  </div>