



<section class="py-5" style="background-color: #e5e8ed;">
    <div class="container my-lg-2 py-2 py-md-4">
        <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
          <h2 class="h1 mb-0">Tenemos una amplia gama en equipos y herramientas</h2>
          
        </div>

        <div class="row">
            <div class="card card-product ">
                <div class="card-product-img">
                  <a  class="card-img-top">
                    <img src="./assets/img/ecommerce/herramientas/quemantes.jpg" alt="Product image">
                  </a>
                  <div class="card-product-widgets-top">
                    <div class="star-rating ml-auto">
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-0 pb-2">
                  <h3 class="card-product-title text-truncate mb-2">
                    <a >QUEMANTES</a>
                  </h3>
                </div>
              </div>

              <div class="card card-product ">
                <div class="card-product-img">
                  <a  class="card-img-top">
                    <img src="./assets/img/ecommerce/herramientas/glifosatos.jpg" alt="Product image">
                  </a>
                  <div class="card-product-widgets-top">
                    <div class="star-rating ml-auto">
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-0 pb-2">
                  <h3 class="card-product-title text-truncate mb-2">
                    <a>GLIFOSATOS</a>
                  </h3>
                </div>
              </div>

              <div class="card card-product ">
                <div class="card-product-img">
                  <a  class="card-img-top">
                    <img src="./assets/img/ecommerce/herramientas/insecticidas.jpg" alt="Product image">
                  </a>
                  <div class="card-product-widgets-top">
                    <div class="star-rating ml-auto">
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-0 pb-2">
                  <h3 class="card-product-title text-truncate mb-2">
                    <a>INSECTICIDAS</a>
                  </h3>
                </div>
              </div>

              <div class="card card-product ">
                <div class="card-product-img">
                  <a  class="card-img-top">
                    <img src="./assets/img/ecommerce/herramientas/herbicidas.jpg" alt="Product image">
                  </a>
                  <div class="card-product-widgets-top">
                    <div class="star-rating ml-auto">
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-0 pb-2">
                  <h3 class="card-product-title text-truncate mb-2">
                    <a>HERBICIDAS</a>
                  </h3>
                </div>
              </div>
      

      
        </div>

        <div class="text-center pt-4 pt-md-5">
          <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" target="_blank" class="btn background-btn-naranja btn-lg">Contactar con Proveedor</a>
        </div>

      </div>
    <div class="container my-lg-2 py-2 py-md-4">
      <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
        <h2 class="h1 mb-0">Conoce alguno de nuestros productos</h2>
        
      </div>
      <div class="row">
        <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/fertilizantes.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a >FERTILIZANTES</a>
              </h3>
            </div>
          </div>

          <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/selectivo-maiz.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>SELECTIVO DE MAIZ</a>
              </h3>
            </div>
          </div>

          <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/aminas.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>AMINAS</a>
              </h3>
            </div>
          </div>
  
    </div>
    
    <div class="text-center pt-4 pt-md-5">
      <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" target="_blank" class="btn background-btn-naranja btn-lg">Contactar con Proveedor</a>
    </div>
    </div>

    <div class="container my-lg-2 py-2 py-md-4">
      <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
        <h2 class="h1 mb-0">Bebederos para pollos</h2>
        
      </div>
      <div class="row">
        <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/bebederos.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a >BEBEDEROS</a>
              </h3>
            </div>
          </div>

          <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/bebederos2.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>BEBEDERO 5.25 LT</a>
              </h3>
            </div>
          </div>

          <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/bebedero5lt.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>BEBEDERO 5 LT</a>
              </h3>
            </div>
          </div>

          <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/bebedero4lt.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>BEBEDERO 4 LT</a>
              </h3>
            </div>
          </div>
  
    </div>
    
    <div class="text-center pt-4 pt-md-5">
      <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" target="_blank" class="btn background-btn-naranja btn-lg">Contactar con Proveedor</a>
    </div>
    </div>

    <div class="container my-lg-2 py-2 py-md-4">
      <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
        <h2 class="h1 mb-0">Comederos para pollos</h2>
        
      </div>
      <div class="row">
        <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/comedero11kg.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a >COMEDERO 11 KG</a>
              </h3>
            </div>
          </div>

          <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/comedero12kg.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>COMEDERO 12 KG</a>
              </h3>
            </div>
          </div>

          <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/comedero5kg.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>COMEDERO 5 KG</a>
              </h3>
            </div>
          </div>
    </div>
    
    <div class="text-center pt-4 pt-md-5">
      <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" target="_blank" class="btn background-btn-naranja btn-lg">Contactar con Proveedor</a>
    </div>
    </div>

    <div class="container my-lg-2 py-2 py-md-4">
      <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
        <h2 class="h1 mb-0">Bebedero y Comederos para gallos</h2>
        
      </div>
      <div class="row">
        <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/bebedero-gallo.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a >BEBEDERO 1 LT</a>
              </h3>
            </div>
          </div>

          <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/comedero250ml.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>COMEDERO DE 250 ML</a>
              </h3>
            </div>
          </div>

          <div class="card card-product ">
            <div class="card-product-img">
              <a  class="card-img-top">
                <img src="./assets/img/ecommerce/herramientas/comedero500ml.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>COMEDERO DE 500 ML</a>
              </h3>
            </div>
          </div>
    </div>
    
    <div class="text-center pt-4 pt-md-5">
      <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" target="_blank" class="btn background-btn-naranja btn-lg">Contactar con Proveedor</a>
    </div>
    </div>


</section>


      
    




<!-- <a class="cs-portfolio-card-slide" href="#">
    <div class="cs-portfolio-card-img">
    <img src="./assets/img/ecommerce/herramientas/bovino.jpg" alt="Card image">
    </div>
    <div class="cs-portfolio-card-body">
    <h3 class="cs-portfolio-card-title">Red Finger Building</h3>
    <div class="fs-sm text-muted">Business Centers</div>
    <div class="btn btn-outline-primary text-uppercase">View project</div>
    </div>
</a> -->