<section class="container-fluid pt-3 pt-md-4">
    <div class="row">
      <div class="bg-size-cover  py-xl-6" style="background-image: url(../../assets/img/ecommerce/home/categories/aves-pollo.jpg);">
        <div class="container-fluid pt-5 pb-3">
          <div class="row pb-lg-6">
            <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-1 pb-md-2">
              <h2 class="mb-2 from-top">Productos para aves</h2>
              <p class="mb-2 pb-3 fs-lg from-bottom">
                Donec eget magna non felis elementum efficitur nec non erat. Integer posuere a nunc id tincidunt. 
                Fusce nulla erat, mattis eu efficitur eu, malesuada et est. Donec sit amet dolor massa. 
                Aenean rutrum mauris ut orci egestas, at accumsan turpis molestie. Morbi egestas leo 
                at eros vehicula rutrum. Maecenas eget malesuada nisi, ullamcorper mollis tortor. 
              </p>
              
              <div class="mb-2 cs-scale-up cs-delay-2">
                <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg">Shop the menswear</a>
                
              </div>
               Slide 2
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <hr class="hr-light">

  </section>


  

  <div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="card card-horizontal">
                <div class="card-img-top" style="background-image: url(../../assets/img/ecommerce/home/categories/09.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text fs-sm">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Ver mas detalles
                  </button>
                </div>
                
            </div>
        
              <hr>
        
            <div class="card card-horizontal">
                <div class="card-img-top" style="background-image: url(../../assets/img/ecommerce/contacts/equipoTrabajo.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text fs-sm">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                </div>
            </div>

            <hr>

            <div class="card card-horizontal">
                <div class="card-img-top" style="background-image: url(../../assets/img/ecommerce/home/categories/09.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text fs-sm">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 pb-lg-5">
            <aside class="col-lg-12 pb-lg-5">
                <div id="blog-sidebar" class="offcanvas-lg offcanvas-end">
                  
                  <div class="offcanvas-body pt-3 pb-1 pt-lg-0">
    
                    <!-- Categories -->
                    <div class="widget widget-categories border-bottom pb-1 pb-4 mb-4">
                      <h3 class="h4">Categories</h3>
                      <ul class="nav nav-dark flex-column">
                        <li class="nav-item mr-12">
                          <a class="nav-link p-0" href="#">
                            <span class="mr-lg-10 mr-sm-4">Aves</span>
                          </a>
                        </li>
                        <li>
                          <a class="nav-link p-0" href="#">
                            <span>Cerdos</span>
                          </a>
                        </li>
                        <li>
                          <a class="nav-link p-0" href="#">
                            <span>Ovinos</span>
                          </a>
                        </li>
                        <li>
                          <a class="nav-link p-0" href="#">
                            <span>Bovinos</span>
                          </a>
                        </li>
                      </ul>
                    </div>
    
                  </div>
                </div>
              </aside>
        </div>
        
    </div>
    
  </div>

  <app-modal-aves></app-modal-aves>