<section class="container-fluid ">
    <div class="row">
      <div class="bg-size-cover  py-xl-6" style="background-image: url(./assets/img/ecommerce/home/categories/slider-aves-pollo.jpg);">
        <div class="container-fluid pt-5 pb-3">
          <div class="row pb-lg-6">
            <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-1 pb-md-2">
              <h2 class="mb-2 from-top text-light">Productos especiales para aves</h2>
              <p class="mb-2 pb-3 fs-lg from-bottom text-dark">
                Conoce nuestra amplia gama de alimentos para aves, contamos con alimentos para cada etapa de tus animales
                Alimentos para pollos de Inicio, Crecimiento, Finalizador. De igual manera en NUTRAS contamos con alimentos 
                para pavos y Gallinas de postura, Conoce nuestros productos.
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <hr class="hr-light">

  </section>


  

  <div class="container">
    <div class="row ">
        <div class="col-lg-9 ">
            <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/aves/pollo-inicio.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">POLLO INICIO</h5>
                  <p class="card-text fs-sm">
                    Alimento completo para pollos de engorda, 
                    ofrezca desde el nacimiento hasta el ﬁnal de la tercera semana (del día 1 hasta el día 21 de edad).
                  </p>
                  <!-- <button type="button" class="btn background-btn-naranja text-light mt-1" data-toggle="modal" data-target="#exampleModal">
                    Ver mas detalles
                  </button>

                  <button type="button" class="btn btn-success text-light ml-1 mt-1" data-toggle="modal" data-target="#exampleModal">
                    Contactar
                  </button> -->
                </div>
                
            </div>
        
              <hr>
        
              <!-- card -->
            <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/aves/pollo-crecimiento.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">POLLO CRECIMIENTO </h5>
                  <p class="card-text fs-sm">
                    Alimento completo para pollos de engorda que se ofrece desde el inicio de la cuarta 
                    semana y hasta el ﬁnal de la sexta semana (del día 22 hasta el día 42 de edad).
                  </p>
                  
                </div>
            </div>

            <hr>

            <!-- card -->
            <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/aves/pollo-finalizador.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">POLLO FINALIZADOR </h5>
                  <p class="card-text fs-sm">
                    Alimento completo para pollos de engorda que se recomienda ofrecer desde el inicio de la séptima semana 
                    (día 43 de edad) y hasta el sacriﬁcio de las aves.
                  </p>
                  
                </div>
              </div>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/alimentopollo3.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">PAVO INICIO </h5>
                  <p class="card-text fs-sm">
                    Alimento completo para pavos en inicio, ofrezca a partir de la semana cero, y hasta la octava semana.
                  </p>
                  
                </div>
              </div>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/alimentopollo3.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">PAVO CRECIMIENTO </h5>
                  <p class="card-text fs-sm">
                    Alimento completo para pavos en crecimiento, ofrezca desde el inicio de la novena semana, y hasta la semana dieciséis.
                  </p>
                  
                </div>
              </div>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/alimentopollo3.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">PAVO FINALIZADOR </h5>
                  <p class="card-text fs-sm">
                    Alimento completo para pavos en finalización, ofrezca desde el inicio de la semana diecisiete,
                     y hasta alcanzar su peso de sacrificio
                  </p>
                  
                </div>
              </div>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/alimentopollo3.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">POLLITA DE CRECIMIENTO </h5>
                  <p class="card-text fs-sm">
                    Ofrezca este alimento a pollitas en crecimiento de la semana 4 hasta la semana diez de edad. 
                  </p>
                  
                </div>
              </div>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/alimentopollo3.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">GALLINA DE POSTURA </h5>
                  <p class="card-text fs-sm">
                    Ofrezca este alimento desde la semana veinte de edad y durante todo el ciclo de producción.  
                  </p>
                  
                </div>
              </div>
              



        </div>
        <!--Slider horizontal-->
        <div class="col-lg-3 pb-lg-5">
            <app-slider-horizontal></app-slider-horizontal>
        </div>
        
    </div>
    
  </div>

 
<!-- Vertical cs-steps: right alignment -->
<!-- <div class="cs-steps-vertical">
  <div class="cs-step-vertical">
    <div class="cs-step-line text-primary"></div>
    <div class="cs-step-body">
      <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 1</h4>
      <h3 class="h5 mb-2">Off-Site SEO Analysis</h3>
      <p class="mb-0 text-muted">Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.</p>
    </div>
  </div>
  <div class="cs-step-vertical">
    <div class="cs-step-line text-primary"></div>
    <div class="cs-step-body">
      <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 2</h4>
      <h3 class="h5 mb-2">Technical SEO Optimizations</h3>
      <p class="mb-0 text-muted">Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin egestas laoreet etiam. Nunc nisl orci auctor et fames.</p>
    </div>
  </div>
  <div class="cs-step-vertical">
    <div class="cs-step-line text-primary"></div>
    <div class="cs-step-body">
      <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 3</h4>
      <h3 class="h5 mb-2">Usability Check</h3>
      <p class="mb-0 text-muted">Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat egestas facilisi lobortis. Varius praesent pretium in leo, accumsan, in ultricies. </p>
    </div>
  </div>
  <div class="cs-step-vertical">
    <div class="cs-step-line text-primary"></div>
    <div class="cs-step-body">
      <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 4</h4>
      <h3 class="h5 mb-2">Content Marketing</h3>
      <p class="mb-0 text-muted">Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor. Faucibus in leo, nulla odio nulla imperdiet quis faucibus neque.</p>
    </div>
  </div>
</div> -->




  <app-modal-aves></app-modal-aves>