<section class="container-fluid ">
    <div class="row">
      <div class="bg-size-cover  py-xl-6" style="background-image: url(./assets/img/ecommerce/home/categories/slider-ovinos.jpg);">
        <div class="container-fluid pt-5 pb-3">
          <div class="row pb-lg-6">
            <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-1 pb-md-2">
              <h2 class="mb-2 from-top text-light">Productos especiales para ovinos</h2>
              <p class="mb-2 pb-3 fs-lg from-bottom text-dark">
                Conoce nuestra amplia gama de alimentos para ovinos, contamos con alimentos para cada etapa de tus animales
                Alimentos para ovinos en etapa de crecimiento, Engorda. De igual manera en Nutras Technology contamos con alimentos 
                que le permitira tener un buen desarrollo en sus animales
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <hr class="hr-light">

  </section>


  

  <div class="container">
    <div class="row ">
        <div class="col-lg-9 ">
            <!-- card -->
            <div class="card card-horizontal mt-3">
              <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/ovinos/cordero20.jpg);"></div>
              <div class="card-body">
                <h5 class="card-title">CORDERO 20 (Proteína 20%)</h5>
                <p class="card-text fs-sm">
                  Ofrecer este alimento a los corderos a partir de la segunda semana de edad y durante toda la lactancia.
                </p>
                <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" 
                  target="_blank" 
                  class="btn background-btn-naranja">
                  Contactar con Proveedor
                </a>
              </div>
            </div>

            <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/ovinos/ovino-crecimiento.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">OVINO CRECIMIENTO (Proteína 16%)</h5>
                  <p class="card-text fs-sm">
                    Ofrecer este alimento a los ovinos después del destete hasta 
                    alcanzar los 30 kg de peso vivo. Acompañado de forraje de alta calidad.
                  </p>
                  <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" 
                  target="_blank" 
                  class="btn background-btn-naranja">
                  Contactar con Proveedor
                  </a>
                </div>
                
            </div>
        
              <hr>
        
              <!-- card -->
            <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/ovinos/ovino-engorda.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">OVINO ENGORDA (Proteína 14%)</h5>
                  <p class="card-text fs-sm">
                    Ofrecer este alimento a los ovinos a partir de los 30kg de peso
                     vivo hasta peso de mercado. Acompañado de forraje de alta calidad.
                  </p>
                  <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" 
                  target="_blank" 
                  class="btn background-btn-naranja">
                  Contactar con Proveedor
                  </a>
                </div>
            </div>

            <hr>

        </div>
        <!--Slider horizontal-->
        <div class="col-lg-3 pb-lg-5">
            <app-slider-horizontal></app-slider-horizontal>
        </div>
        
    </div>
    
  </div>

 
<!-- Vertical cs-steps: right alignment -->
<!-- <div class="cs-steps-vertical">
  <div class="cs-step-vertical">
    <div class="cs-step-line text-primary"></div>
    <div class="cs-step-body">
      <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 1</h4>
      <h3 class="h5 mb-2">Off-Site SEO Analysis</h3>
      <p class="mb-0 text-muted">Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.</p>
    </div>
  </div>
  <div class="cs-step-vertical">
    <div class="cs-step-line text-primary"></div>
    <div class="cs-step-body">
      <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 2</h4>
      <h3 class="h5 mb-2">Technical SEO Optimizations</h3>
      <p class="mb-0 text-muted">Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin egestas laoreet etiam. Nunc nisl orci auctor et fames.</p>
    </div>
  </div>
  <div class="cs-step-vertical">
    <div class="cs-step-line text-primary"></div>
    <div class="cs-step-body">
      <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 3</h4>
      <h3 class="h5 mb-2">Usability Check</h3>
      <p class="mb-0 text-muted">Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat egestas facilisi lobortis. Varius praesent pretium in leo, accumsan, in ultricies. </p>
    </div>
  </div>
  <div class="cs-step-vertical">
    <div class="cs-step-line text-primary"></div>
    <div class="cs-step-body">
      <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 4</h4>
      <h3 class="h5 mb-2">Content Marketing</h3>
      <p class="mb-0 text-muted">Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor. Faucibus in leo, nulla odio nulla imperdiet quis faucibus neque.</p>
    </div>
  </div>
</div> -->




  <app-modal-aves></app-modal-aves>