

div.container > nav > ul > li > a.active {
    color:#F86C00;
}

div.container > nav > ul > li > a:hover {
    color:#F86C00;    
}

div.container > nav > ul > li > a::after {
    color:#F86C00;    
}