<div class="container my-lg-2 py-2 py-md-4">
    <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
      <h2 class="h1 mb-0">Somos Distribuidores de Productos MNA</h2>
      <div class="tns-custom-controls cs-controls-inverse" id="custom-controls-trending" tabindex="0">
        <button type="button" data-controls="prev" tabindex="-1">
          <i class="cxi-arrow-left"></i>
        </button>
        <button type="button" data-controls="next" tabindex="-1">
          <i class="cxi-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="cs-carousel pb-2">
      <div class="cs-carousel-inner cs-carousel-inner-four" data-carousel-options='{
        
      }'>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a class="card-img-top">
                <img src="./assets/img/ecommerce/shop/tecnofos.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>TECNOFOS 4:40</a>
              </h3>
              <!-- <div class="d-flex align-items-center">
                <span class="h5 d-inline-block mb-0">$49.95</span>
              </div> -->
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a class="card-img-top">
                <img src="./assets/img/ecommerce/shop/microfos.jpg" alt="microfos">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>MICROFOS 12%</a>
              </h3>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a class="card-img-top">
                <img src="./assets/img/ecommerce/shop/becerro20.jpg" alt="Becerro 20">
              </a>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>BECERRO 20</a>
              </h3>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a class="card-img-top">
                <img src="./assets/img/ecommerce/shop/lactoplex.jpg" alt="Lacto Plex">
              </a>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>Lacto Plex</a>
              </h3>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a class="card-img-top">
                <img src="./assets/img/ecommerce/shop/equimax.jpg" alt="Equimax 14">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star"></i>
                  <i class="sr-star cxi-star"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>EQUIMAX 14</a>
              </h3>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a class="card-img-top">
                <img src="./assets/img/ecommerce/shop/galloBravo.jpg" alt="Gallo Bravo">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star"></i>
                  <i class="sr-star cxi-star"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>GALLO BRAVO</a>
              </h3>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a class="card-img-top">
                <img src="./assets/img/ecommerce/shop/perrazo.jpg" alt="Perrazo Cachorro">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star"></i>
                  <i class="sr-star cxi-star"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>PERRAZO CACHORRO</a>
              </h3>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a class="card-img-top">
                <img src="./assets/img/ecommerce/shop/perrazoAdulto.jpg" alt="Perrazo Adulto">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star"></i>
                  <i class="sr-star cxi-star"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>PERRAZO ADULTO</a>
              </h3>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a class="card-img-top">
                <img src="./assets/img/ecommerce/shop/laika.jpg" alt="Laika">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star"></i>
                  <i class="sr-star cxi-star"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>LAIKA</a>
              </h3>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a class="card-img-top">
                <img src="./assets/img/ecommerce/shop/ringo.jpg" alt="Ringo">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star"></i>
                  <i class="sr-star cxi-star"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>RINGO</a>
              </h3>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a class="card-img-top">
                <img src="./assets/img/ecommerce/shop/felicette.jpg" alt="Felicicette">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star"></i>
                  <i class="sr-star cxi-star"></i>
                </div>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a>FELICETTE</a>
              </h3>
            </div>
          </div>
        </div>
      
      
      
      </div>
    </div>
    <div class="text-center pt-4 pt-md-5">
      <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" target="_blank" class="btn background-btn-naranja btn-lg">Contactar con Proveedor</a>
    </div>
  </div>