<section class="container-fluid pt-3 pt-md-4" style="background-image: url(./assets/img/ecommerce/home/banners/fondo2.jpg);">

    <div class=" container-fluid text-center p-8">
        <!-- <div>
            <img src="./assets/img/404.jpg" alt="Image">
          </div> -->
          <h1 class="mb-2 from-top nutras-naranja">OOPS!!</h1>
          <h2 class="mb-2 from-top nutras-naranja">Error 404: Página no encontrada</h2>
          <a routerLink="/inicio" class="navbar-brand order-lg-1 mr-0 pr-lg-3 mr-lg-4">
            <img src="assets/img/ecommerce/nutrastechnology.png" alt="Nutras Logo" width="130">
          </a>

          <button  routerLink="/inicio" type="button" class="btn background-btn-naranja text-light mt-1" data-toggle="modal" data-target="#exampleModal">
            Volver al inicio
          </button>
    </div>
</section>

