<section class="cs-carousel cs-controls-onhover">
  <div class="cs-carousel-inner" data-carousel-options=''>
      
    <!-- Slide 1 -->
    <div class="bg-size-cover py-xl-6" style="background-image: url(../../assets/img/ecommerce/home/hero-slider/01.jpg);">
      <div class="container pt-1 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-2 pb-md-2">
            <h3 class="font-size-lg text-uppercase cs-from-start cs-delay-1">Nutras</h3>
            <h2 class="mb-2 from-top">Conoce nuestros productos</h2>
            <p class="mb-3 pb-3 fs-lg from-bottom">
              Donec eget magna non felis elementum efficitur nec non erat. Integer posuere a nunc id tincidunt. 
              Fusce nulla erat, mattis eu efficitur eu, malesuada et est. Donec sit amet dolor massa. 
              Aenean rutrum mauris ut orci egestas, at accumsan turpis molestie. Morbi egestas leo 
              at eros vehicula rutrum. Maecenas eget malesuada nisi, ullamcorper mollis tortor. 
            </p>
            
            <div class=" mb-4 cs-scale-up cs-delay-2">
              <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg">Enviar mensaje</a>
            </div>
             Slide 2 
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="bg-size-cover py-xl-6" style="background-image: url(../../assets/img/ecommerce/home/hero-slider/02.jpg);">
      <div class="container pt-1 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-2 pb-md-2">
            <h3 class="font-size-lg text-uppercase cs-from-start cs-delay-1">Nutras</h3>
            <h2 class="mb-2 from-top">Conoce nuestros productos</h2>
            <p class="mb-3 pb-3 fs-lg from-bottom">
              Donec eget magna non felis elementum efficitur nec non erat. Integer posuere a nunc id tincidunt. 
              Fusce nulla erat, mattis eu efficitur eu, malesuada et est. Donec sit amet dolor massa. 
              Aenean rutrum mauris ut orci egestas, at accumsan turpis molestie. Morbi egestas leo 
              at eros vehicula rutrum. Maecenas eget malesuada nisi, ullamcorper mollis tortor. 
            </p>
            
            <div class=" mb-4 cs-scale-up cs-delay-2">
              <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg">Enviar mensaje</a>
            </div>
             Slide 2 
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="bg-size-cover py-xl-6" style="background-image: url(../../assets/img/ecommerce/home/hero-slider/03.jpg);">
      <div class="container pt-1 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-2 pb-md-2">
            <h3 class="font-size-lg text-uppercase cs-from-left cs-delay-1">Gran variedad de</h3>
            <h2 class="display-2 mb-lg-5 pb-4 cs-from-left">ALIMENTOS BALANCEADOS</h2>
            <div class="mb-4 cs-scale-up cs-delay-2">
              <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg">Contactar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 4 -->
    <div class="bg-size-cover py-xl-6" style="background-image: url(../../assets/img/ecommerce/home/hero-slider/04.jpg);">
      <div class="container pt-1 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-2 pb-md-2">
            <h3 class="font-size-lg text-uppercase cs-from-top cs-delay-1">Hottest Prices</h3>
            <h2 class="display-2 mb-lg-5 pb-6 cs-scale-down">Kidswear Sales</h2>
            <div class="mb-4 cs-scale-down cs-delay-2">
              <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg">Shop sale now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pager -->
  <div class="container position-relative">
    <div class="row mt-lg-n5">
      <div class="col-lg-7 col-md-8 col-sm-10 offset-lg-1 offset-xl-0">
        <div class="position-relative">
          <div id="pager" class="cs-pager cs-pager-inverse mb-xl-5 pb-5 pb-md-6">
            <button type="button" data-nav="0">01</button>
            <button type="button" data-nav="1">02</button>
            <button type="button" data-nav="2">03</button>
            <button type="button" data-nav="3">04</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container pt-5 pt-lg-0">
  <div class="cs-carousel cs-nav-outside">
    <div class="cs-carousel-inner cs-carousel-inner-two" data-carousel-options=''>
      <!-- Category -->
      <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
        <div class="cs-image-inner mb-3 rounded">
          <img src="../../assets/img/ecommerce/home/categories/01.jpg" alt="Women’s">
        </div>
        <h3 class="h5 mb-1">Ovinos</h3>
      </a>
      <!-- Category -->
      <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
        <div class="cs-image-inner mb-3 rounded">
          <img src="../../assets/img/ecommerce/home/categories/02.jpg" alt="Men’s">
        </div>
        <h3 class="h5 mb-1">Cerdos</h3>
      </a>
      <!-- Category -->
      <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
        <div class="cs-image-inner mb-3 rounded">
          <img src="../../assets/img/ecommerce/home/categories/03.jpg" alt="Kids'">
        </div>
        <h3 class="h5 mb-1">Bovinos</h3>
      </a>
       <!-- Category -->
       <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
        <div class="cs-image-inner mb-3 rounded">
          <img src="../../assets/img/ecommerce/home/categories/04.jpg" alt="Kids'">
        </div>
        <h3 class="h5 mb-1">Aves</h3>
      </a>
    </div>
  </div>
</section>


<!-- New arrivals -->
<section class="container-fluid px-xl-grid-gutter mt-5 mb-3 mb-sm-4 mt-md-0 mb-lg-5 py-5 py-lg-6">
  <div class="text-center mb-5 pb-2">
    <h2 class="h1">Nuestros productos</h2>
    <p class="font-size-lg text-muted mb-1">Echa un vistazo a nuestra gran variedad de productos</p>
    <a href="shop-catalog.html" class="font-size-lg">See the collection here</a>
  </div>

  <!-- Product carousel -->
  <div class="cs-carousel cs-nav-outside">
    <div class="cs-carousel-inner cs-carousel-inner-three" data-carousel-options='{
      
    }'>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="../../assets/img/ecommerce/shop/03.jpg" alt="Product image">
            </a>
            <div class="card-product-widgets-top">
              <div class="star-rating">
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
              </div>
            </div>
            <div class="card-product-widgets-bottom">
              <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link">Black and white sport cap</a>
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$18.15</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="../../assets/img/ecommerce/shop/13.jpg" alt="Product image">
            </a>
            <div class="card-product-widgets-bottom">
              <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link">Metal bridge sunglasses</a>
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$89.95</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="../../assets/img/ecommerce/shop/04.jpg" alt="Product image">
            </a>
            <div class="card-product-widgets-top">
              <div class="star-rating">
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star"></i>
              </div>
            </div>
            <div class="card-product-widgets-bottom">
              <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link">Green baby romper</a>
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$20.40</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="../../assets/img/ecommerce/shop/02.jpg" alt="Product image">
            </a>
            <div class="card-product-widgets-bottom">
              <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link">Mid-rise slim cropped fit jeans</a>
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$40.00</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="../../assets/img/ecommerce/shop/06.jpg" alt="Product image">
            </a>
            <div class="card-product-widgets-top">
              <div class="star-rating">
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star"></i>
                <i class="sr-star cxi-star"></i>
              </div>
            </div>
            <div class="card-product-widgets-bottom">
              <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link">Red dangle earrings</a>
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$29.95</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="../../assets/img/ecommerce/shop/08.jpg" alt="Product image">
            </a>
            <div class="card-product-widgets-bottom">
              <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link">Baby shoes with laces</a>
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$30.75</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="../../assets/img/ecommerce/shop/12.jpg" alt="Product image">
            </a>
            <div class="card-product-widgets-bottom">
              <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link">Men fashion gray shoes</a>
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$85.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Trending products (carousel) -->
<section class="py-5" style="background-color: #e5e8ed;">
  <div class="container my-lg-2 py-2 py-md-4">
    <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
      <h2 class="h1 mb-0">Trending now</h2>
      <div class="tns-custom-controls cs-controls-inverse" id="custom-controls-trending" tabindex="0">
        <button type="button" data-controls="prev" tabindex="-1">
          <i class="cxi-arrow-left"></i>
        </button>
        <button type="button" data-controls="next" tabindex="-1">
          <i class="cxi-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="cs-carousel pb-2">
      <div class="cs-carousel-inner cs-carousel-inner-four" data-carousel-options='{
        
      }'>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a href="shop-single.html" class="card-img-top">
                <img src="../../assets/img/ecommerce/shop/01.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                </div>
              </div>
              <div class="card-product-widgets-bottom">
                <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a href="shop-single.html" class="nav-link">Shirt with insertion lace trims</a>
              </h3>
              <div class="d-flex align-items-center">
                <span class="h5 d-inline-block mb-0">$49.95</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a href="shop-single.html" class="card-img-top">
                <img src="../../assets/img/ecommerce/shop/07.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star"></i>
                </div>
              </div>
              <div class="card-product-widgets-bottom">
                <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a href="shop-single.html" class="nav-link">Chrono watch with gold rim and blue strap</a>
              </h3>
              <div class="d-flex align-items-center">
                <span class="h5 d-inline-block mb-0">$120.60</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a href="shop-single.html" class="card-img-top">
                <img src="../../assets/img/ecommerce/shop/05.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-bottom">
                <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a href="shop-single.html" class="nav-link">Check coat with color contrast</a>
              </h3>
              <div class="d-flex align-items-center">
                <span class="h5 d-inline-block mb-0">$183.45</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a href="shop-single.html" class="card-img-top">
                <img src="../../assets/img/ecommerce/shop/12.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-bottom">
                <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a href="shop-single.html" class="nav-link">Men fashion gray shoes</a>
              </h3>
              <div class="d-flex align-items-center">
                <span class="h5 d-inline-block mb-0">$85.00</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div>
          <div class="card card-product mx-auto">
            <div class="card-product-img">
              <a href="shop-single.html" class="card-img-top">
                <img src="../../assets/img/ecommerce/shop/06.jpg" alt="Product image">
              </a>
              <div class="card-product-widgets-top">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star-filled active"></i>
                  <i class="sr-star cxi-star"></i>
                  <i class="sr-star cxi-star"></i>
                </div>
              </div>
              <div class="card-product-widgets-bottom">
                <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
              </div>
            </div>
            <div class="card-body bg-0 pb-2">
              <h3 class="card-product-title text-truncate mb-2">
                <a href="shop-single.html" class="nav-link">Red dangle earrings</a>
              </h3>
              <div class="d-flex align-items-center">
                <span class="h5 d-inline-block mb-0">$29.95</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-4 pt-md-5">
      <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg">Explore top sellers</a>
    </div>
  </div>
</section>

<!-- Popular categories -->
<section class="container mt-1 mb-3 my-sm-4 py-5 py-lg-6">
  <h2 class="h1 mb-5 pb-3 text-center">Popular categories</h2>
  <div class="cs-carousel cs-nav-outside">
    <div class="cs-carousel-inner cs-carousel-inner-five" data-carousel-options='{
      
    }'>

      <!-- Category -->
      <div class="pb-2">
        <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
            <img src="../../assets/img/ecommerce/home/categories/04.jpg" alt="Category image">
          </div>
          <h3 class="h5 mb-3">Tops</h3>
        </a>
      </div>

      <!-- Category -->
      <div class="pb-2">
        <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
            <img src="../../assets/img/ecommerce/home/categories/05.jpg" alt="Category image">
          </div>
          <h3 class="h5 mb-3">T-shirts</h3>
        </a>
      </div>

      <!-- Category -->
      <div class="pb-2">
        <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
            <img src="../../assets/img/ecommerce/home/categories/06.jpg" alt="Category image">
          </div>
          <h3 class="h5 mb-3">Caps</h3>
        </a>
      </div>

      <!-- Category -->
      <div class="pb-2">
        <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
            <img src="../../assets/img/ecommerce/home/categories/07.jpg" alt="Category image">
          </div>
          <h3 class="h5 mb-3">Sandals</h3>
        </a>
      </div>

      <!-- Category -->
      <div class="pb-2">
        <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
            <img src="../../assets/img/ecommerce/home/categories/08.jpg" alt="Category image">
          </div>
          <h3 class="h5 mb-3">Jackets</h3>
        </a>
      </div>

      <!-- Category -->
      <div class="pb-2">
        <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
          <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
            <img src="../../assets/img/ecommerce/home/categories/09.jpg" alt="Category image">
          </div>
          <h3 class="h5 mb-3">Coats</h3>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Seccion para el video====================== -->

<section class="container-fluid px-xl-grid-gutter">
  <div class="row mx-n2">

    <!-- Banner -->
    <div class="col-lg-6 px-2">

      <youtube-player 
      videoId="0IxXZPJA3mU" 
      suggestedQuality="highres"
      [height]="600" 
      [width]="1470" 
      [startSeconds]="0">
    </youtube-player>

    </div>

    <!-- Banner -->
    <div class="col-lg-6 px-2 ">
      <div class="d-flex flex-column h-100 bg-size-cover bg-position-center-y rounded px-md-5 px-4" 
      style="background-image: url(../assets/img/ecommerce/home/banners/02.jpg);">
        
        <div class="mt-md-3 mb-md-5 pb-5 px-md-2" style="max-width: 22rem;">
          <h3 class="mb-2 pb-1 fs-sm text-uppercase">Deal of the Week</h3>
          <h2 class="pb-3">Stay Warm With Our New Sweaters</h2>
          <a href="#" class="btn btn-outline-primary">Shop now</a>
        </div>

        <div class="mb-md-3 px-md-2">
          <h3 class="mb-2 pb-1 fs-sm text-uppercase">Limited time offer</h3>
          <div class="countdown h3 mb-0" data-countdown="01/30/2024 07:00:00 PM">

            <div class="countdown-days mb-0">
              <span class="countdown-value">445</span>
              <span class="countdown-label mt-1 fs-sm text-body">Days</span>
            </div>

            <div class="countdown-hours mb-0">
              <span class="countdown-value">02</span>
              <span class="countdown-label mt-1 fs-sm text-body">Hours</span>
            </div>

            <div class="countdown-minutes mb-0">
              <span class="countdown-value">15</span>
              <span class="countdown-label mt-1 fs-sm text-body">Mins</span>
            </div>

            <div class="countdown-seconds mb-0">
              <span class="countdown-value">56</span>
              <span class="countdown-label mt-1 fs-sm text-body">Secs</span>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>








=======================


<!-- Services -->
<section class="container pt-5 pb-2 pb-sm-5 py-md-5 py-lg-6">
  <div class="row py-3">
    <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
      <img class="mb-4" src="../../assets/img/ecommerce/home/services/delivery.svg" width="48" alt="Worldwide Shipping">
      <h5 class="h5 mb-2">Fast Worldwide Shipping</h5>
      <p class="mb-0 text-muted">Get free shipping over $250</p>
    </div>
    <span class="divider-vertical d-sm-block d-none"></span>
    <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
      <img class="mb-4" src="../../assets/img/ecommerce/home/services/support.svg" width="48" alt="Customer Support">
      <h5 class="h5 mb-2">24/7 Customer Support</h5>
      <p class="mb-0 text-muted">Friendly 24/7 customer support</p>
    </div>
    <span class="divider-vertical d-sm-block d-none"></span>
    <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
      <img class="mb-4" src="../../assets/img/ecommerce/home/services/guarantee.svg" width="48" alt="Customer Support">
      <h5 class="h5 mb-2">Money Back Guarantee</h5>
      <p class="mb-0 text-muted">We return money within 30 days</p>
    </div>
    <span class="divider-vertical d-sm-block d-none"></span>
    <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
      <img class="mb-4" src="../../assets/img/ecommerce/home/services/payment.svg" width="48" alt="Customer Support">
      <h5 class="h5 mb-2">Secure Online Payment</h5>
      <p class="mb-0 text-muted">Accept all major credit cards</p>
    </div>
  </div>
</section>


<!-- Insagram -->
<section class="pt-5 pb-4 pt-lg-6 pb-lg-5 border-top border-bottom">
  <div class="container pt-md-4 pb-2 pt-lg-0 pb-lg-0">
    <div class="row">
      <div class="col-md-4 text-center text-md-left pb-2 pb-md-0 mb-4 mb-md-0">
        <p class="text-dark text-uppercase mb-2">Siguenos en facebook</p>
        <h2 class="h1 pb-2 pb-md-3">Nutras Technology</h2>
        <a href="#" class="btn btn-outline-primary btn-lg">
          <i class="cxi-facebook font-size-lg mr-1"></i>
          Seguir en facebook
        </a>
      </div>
      <div class="col-md-8">
        <div class="cs-carousel cs-nav-outside">
          <div class="cs-carousel-inner cs-carousel-inner-six" data-carousel-options='{
            
          }'>
            <!-- Image --> 
            <div>
              <img src="../../assets/img/ecommerce/home/instagram/01.jpg" alt="Image">
            </div>
            <!-- Image -->
            <div>
              <img src="../../assets/img/ecommerce/home/instagram/02.jpg" alt="Image">
            </div>
            <!-- Image -->
            <div>
              <img src="../../assets/img/ecommerce/home/instagram/03.jpg" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--PAGINAS EXTERNAS-->

<!-- Brands -->
<section class="container pb-5 pt-lg-2 mb-3 pb-lg-6">
  <div class="row mt-2">

      <div class="col-md-2 px-3 text-center">
        <a href="#" class="cs-swap-image">
          <img src="assets/img/ecommerce/home/brands/vans.svg" class="cs-swap-to" width="120" alt="Brand logo hover">
          <img src="assets/img/ecommerce/home/brands/vans-g.svg" class="cs-swap-from" width="120" alt="Brand logo">
        </a>
      </div>

      <div class="col-md-2 px-3 text-center">
        <a href="#" class="cs-swap-image">
          <img src="assets/img/ecommerce/home/brands/diesel.svg" class="cs-swap-to" width="120" alt="Brand logo hover">
          <img src="assets/img/ecommerce/home/brands/diesel-g.svg" class="cs-swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="col-md-2 px-3 text-center">
        <a href="#" class="cs-swap-image">
          <img src="assets/img/ecommerce/home/brands/under-armour.svg" class="cs-swap-to" width="120" alt="Brand logo hover">
          <img src="assets/img/ecommerce/home/brands/under-armour-g.svg" class="cs-swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="col-md-2 px-3 text-center">
        <a href="#" class="cs-swap-image">
          <img src="assets/img/ecommerce/home/brands/columbia.svg" class="cs-swap-to" width="120" alt="Brand logo hover">
          <img src="assets/img/ecommerce/home/brands/columbia-g.svg" class="cs-swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="col-md-2 px-3 text-center">
        <a href="#" class="cs-swap-image">
          <img src="assets/img/ecommerce/home/brands/levis.svg" class="cs-swap-to" width="120" alt="Brand logo hover">
          <img src="assets/img/ecommerce/home/brands/levis-g.svg" class="cs-swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="col-md-2 px-3 text-center">
        <a href="#" class="cs-swap-image">
          <img src="assets/img/ecommerce/home/brands/mango.svg" class="cs-swap-to" width="120" alt="Brand logo hover">
          <img src="assets/img/ecommerce/home/brands/mango-g.svg" class="cs-swap-from" width="120" alt="Brand logo">
        </a>
    </div>
  </div>
</section>