<section class="cs-carousel cs-controls-onhover">
  <div class="cs-carousel-inner" data-carousel-options=''>
      
    <!-- Slide 1 -->
    <div class="bg-size-cover py-xl-6" style="background-image: url(./assets/img/ecommerce/home/hero-slider/slider-ganado.jpg);">
      <div class="container pt-1 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-2 pb-md-2">
            <h3 class="text-uppercase cs-from-left cs-delay-1 text-light">Gran variedad de</h3>
            <h2 class="display-2 mb-lg-5 pb-4 cs-from-left nutras-naranja">ALIMENTOS ESPECIALES</h2>
            <div class=" mb-4 cs-scale-up cs-delay-2 ml-4">
              <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" target="_blank" class="btn btn-outline-primary btn-lg">Enviar mensaje</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="bg-size-cover py-xl-6" style="background-image: url(./assets/img/ecommerce/home/hero-slider/slider-cerdos2.jpg);">
      <div class="container pt-1 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-2 pb-md-2">
            <h3 class="text-uppercase cs-from-start cs-delay-1 text-light">Nutras</h3>
            <h2 class="display-2 mb-lg-5 pb-4 cs-from-left nutras-naranja">Conoce nuestros productos</h2>
            <!--
            <p class="mb-3 pb-3 fs-lg from-bottom">
              Donec eget magna non felis elementum efficitur nec non erat. Integer posuere a nunc id tincidunt. 
              Fusce nulla erat, mattis eu efficitur eu, malesuada et est. Donec sit amet dolor massa. 
              Aenean rutrum mauris ut orci egestas, at accumsan turpis molestie. Morbi egestas leo 
              at eros vehicula rutrum. Maecenas eget malesuada nisi, ullamcorper mollis tortor. 
            </p>
            -->
            
            
            <div class=" mb-4 cs-scale-up cs-delay-2 ml-4">
              <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" target="_blank" class="btn btn-outline-primary btn-lg">Enviar mensaje</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="bg-size-cover py-xl-6" style="background-image: url(./assets/img/ecommerce/home/hero-slider/slider-pollos.jpg);">
      <div class="container pt-1 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-2 pb-md-2">
            <h3 class="text-uppercase cs-from-start cs-delay-1 text-light">Nutras Technology</h3>
            <h2 class="display-2 mb-lg-5 pb-4 cs-from-left nutras-naranja">Conoce nuestras sucursales</h2>
            
            
            <div class=" mb-4 cs-scale-up cs-delay-2 ml-4">
              <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" target="_blank" class="btn btn-outline-primary btn-lg">Enviar mensaje</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 4 -->
    <div class="bg-size-cover py-xl-6" style="background-image: url(./assets/img/ecommerce/home/hero-slider/03.jpg);">
      <div class="container pt-1 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-2 pb-md-2">
            <h3 class="text-uppercase cs-from-top cs-delay-1 text-light">Linea de alimentos</h3>
            <h2 class="display-2 mb-lg-5 pb-6 cs-scale-down nutras-naranja">Alimentos de la mas alta calidad</h2>
            <div class=" mb-4 cs-scale-up cs-delay-2 ml-4">
              <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" target="_blank" class="btn btn-outline-primary btn-lg">Enviar mensaje</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pager -->
  <div class="container position-relative">
    <div class="row mt-lg-n5">
      <div class="col-lg-7 col-md-8 col-sm-10 offset-lg-1 offset-xl-0">
        <div class="position-relative">
          <div id="pager" class="cs-pager cs-pager-inverse mb-xl-5 pb-5 pb-md-6">
            <button type="button" data-nav="0">01</button>
            <button type="button" data-nav="1">02</button>
            <button type="button" data-nav="2">03</button>
            <button type="button" data-nav="3">04</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container pt-5 pt-lg-0">
  <div class="cs-carousel cs-nav-outside">

    <div class="cs-carousel-inner cs-carousel-inner-two" data-carousel-options=''>
      <!-- Category -->
      <a routerLink="productos-ovinos" class="d-block cs-image-scale cs-heading-highlight text-center">
        <div class="cs-image-inner mb-3 rounded">
          <img src="./assets/img/ecommerce/home/categories/ovinos.jpg" alt="Ovinos">
        </div>
        <h3 class="h5 mb-1">Ovinos</h3>
      </a>
      <!-- Category -->
      <a routerLink="productos-cerdos" class="d-block cs-image-scale cs-heading-highlight text-center">
        <div class="cs-image-inner mb-3 rounded">
          <img src="./assets/img/ecommerce/home/categories/cerdos.jpg" alt="Cerdos">
        </div>
        <h3 class="h5 mb-1">Cerdos</h3>
      </a>
      <!-- Category -->
      <a routerLink="productos-bovinos" class="d-block cs-image-scale cs-heading-highlight text-center">
        <div class="cs-image-inner mb-3 rounded">
          <img src="./assets/img/ecommerce/home/categories/bovinos.jpg" alt="Kids'">
        </div>
        <h3 class="h5 mb-1">Bovinos</h3>
      </a>
       <!-- Category -->
       <a routerLink="productos-aves" class="d-block cs-image-scale cs-heading-highlight text-center">
        <div class="cs-image-inner mb-3 rounded">
          <img src="./assets/img/ecommerce/home/categories/aves.jpg" alt="Kids'">
        </div>
        <h3 class="h5 mb-1">Aves</h3>
      </a>
    </div>
  </div>
</section>


<!-- New arrivals -->
<section class="container-fluid px-xl-grid-gutter mt-5 mb-3 mb-sm-4 mt-md-0 mb-lg-5 py-5 py-lg-6" style="background-image: url(./assets/img/ecommerce/home/banners/fondo.jpg);">
  <div class="text-center mb-5 pb-2">
    <h2 class="h1">Nuestros productos</h2>
    <p class="font-size-lg text-muted mb-1">Echa un vistazo a nuestra variedad de productos especiales</p>
  </div>

  <!-- Product carousel -->
  <div class="cs-carousel cs-nav-outside">
    <div class="cs-carousel-inner cs-carousel-inner-three" data-carousel-options='{
      
    }'>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a routerLink="productos-cerdos" class="card-img-top">
              <img src="./assets/img/ecommerce/shop/nutras-pig.jpg" alt="Nutras pig">
            </a>
            <div class="card-product-widgets-top">
              <div class="star-rating">
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
              </div>
            </div>
            
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a routerLink="productos-cerdos" class="nav-link">Nutras pig</a>
            </h3>
            <!-- <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$18.15</span>
            </div> -->
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a routerLink="productos-bovinos"  class="card-img-top">
              <img src="./assets/img/ecommerce/shop/max-all.jpg" alt="Suplemento max-all">
            </a>
            <div class="card-product-widgets-bottom">
              <a href="#" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a routerLink="productos-bovinos"  class="nav-link">Suplemento Max-All</a>
            </h3>
            
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a routerLink="productos-bovinos" class="card-img-top">
              <img src="./assets/img/ecommerce/shop/tecnofos.jpg" alt="Product image">
            </a>
            <div class="card-product-widgets-top">
              <div class="star-rating">
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a routerLink="productos-bovinos" class="nav-link">Tecnofos 4:40</a>
            </h3>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a routerLink="productos-bovinos" class="card-img-top">
              <img src="./assets/img/ecommerce/shop/becerro20.jpg" alt="Nutras pig">
            </a>
            <div class="card-product-widgets-top">
              <div class="star-rating">
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
              </div>
            </div>
            
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a routerLink="productos-bovinos" class="nav-link">Becerro 20</a>
            </h3>
            <!-- <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$18.15</span>
            </div> -->
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a routerLink="productos-bovinos" class="card-img-top">
              <img src="./assets/img/ecommerce/shop/lactoplex.jpg" alt="Lactoplex">
            </a>
            <div class="card-product-widgets-top">
              <div class="star-rating">
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
              </div>
            </div>
            
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a routerLink="productos-bovinos"  class="nav-link">LactoPlex</a>
            </h3>
            <!-- <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$18.15</span>
            </div> -->
          </div>
        </div>
      </div>

      

    </div>
  </div>
</section>

<!-- PRODUCTOS MNA (carousel) -->
<section class="py-5" style="background-color: #e5e8ed;">
  
  <app-productos-mna></app-productos-mna>

</section>

<!-- PRODUCTOS POPULARES -->
<section class="container-fluid mt-1 mb-3 my-sm-4 py-5 py-lg-6" style="background-image: url(./assets/img/ecommerce/home/banners/fondo2.jpg);">
  

  <app-productos-populares></app-productos-populares>

</section>
<!-- Seccion para el video====================== -->

<section class="container-fluid px-xl-grid-gutter">
  <div class="row mx-n2">

    <!-- Banner -->
    <div class="col-lg-6 px-2">

      <youtube-player 
      videoId="0IxXZPJA3mU" 
      suggestedQuality="highres"
      [height]="600" 
      [width]="1470" 
      [startSeconds]="0">
    </youtube-player>

    </div>

    <!-- Banner -->
    <div class="col-lg-6 px-2 ">
      <div class="d-flex flex-column h-100 bg-size-cover bg-position-center-y rounded px-md-5 px-4" 
      style="background-image: url(./assets/img/ecommerce/home/banners/becerro.jpg);">
        
        <div class="mt-md-3 mb-md-5 pb-5 px-md-2" style="max-width: 30rem;">
          <h3 class="mb-2 pb-1 fs-sm text-uppercase ">Adquiere nuestros productos</h3>
          <h2 class="pb-3 nutras-naranja">Conoce la linea de alimentos nutras</h2>
          <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" target="_blank" class="btn background-btn-naranja text-light btn-lg">Contactar</a>
        </div>

      </div>

    </div>

  </div>

</section>


<!-- Services -->
<section class="container pt-5 pb-2 pb-sm-5 py-md-5 py-lg-6">
  <div class="row py-3">
    <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
      <img class="mb-4" src="./assets/img/ecommerce/home/services/delivery.svg" width="48" alt="Worldwide Shipping">
      <h5 class="h5 mb-2">Entrega a tiempo</h5>
      <p class="mb-0 text-muted">Entregamos nuestros productos en tiempo y forma</p>
    </div>
    <span class="divider-vertical d-sm-block d-none"></span>
    <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
      <img class="mb-4" src="./assets/img/ecommerce/home/services/support.svg" width="48" alt="Customer Support">
      <h5 class="h5 mb-2">Servicio de lunes a sabado de 7:00Am a 5:00 Pm</h5>
      <p class="mb-0 text-muted">Contamos con un excelente servicio</p>
    </div>
    <span class="divider-vertical d-sm-block d-none"></span>
    <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
      <img class="mb-4" src="./assets/img/ecommerce/home/services/guarantee.svg" width="48" alt="Customer Support">
      <h5 class="h5 mb-2">Empresa responsable</h5>
      <p class="mb-0 text-muted">Cuidamos la elaboracion y entrega de nuestros productos</p>
    </div>
    <span class="divider-vertical d-sm-block d-none"></span>
    <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
      <img class="mb-4" src="./assets/img/ecommerce/home/services/payment.svg" width="48" alt="Customer Support">
      <h5 class="h5 mb-2">Etica profesional</h5>
      <p class="mb-0 text-muted">Promovemos la igualdad y el respeto a nuestros clientes</p>
    </div>
  </div>
</section>


<!-- Insagram -->
<section class="pt-5 pb-4 pt-lg-6 pb-lg-5 border-top border-bottom">
  <div class="container pt-md-4 pb-2 pt-lg-0 pb-lg-0">
    <div class="row">
      <div class="col-md-4 text-center text-md-left pb-2 pb-md-0 mb-4 mb-md-0">
        <p class="text-dark text-uppercase mb-2">Siguenos en facebook</p>
        <h2 class="h1 pb-2 pb-md-3">Nutras Technology</h2>
        <a href="https://www.facebook.com/NUTRASCANDELARIA2016" target="_blank" class="btn background-btn-naranja text-light btn-lg">
          <i class="cxi-facebook font-size-lg mr-1"></i>
          Seguir en facebook
        </a>
      </div>
      <div class="col-md-8">
        <div class="cs-carousel cs-nav-outside">
          <div class="cs-carousel-inner cs-carousel-inner-six" data-carousel-options='{
            
          }'>
            <!-- Image --> 
            <div >
              <img src="./assets/img/ecommerce/home/redes-sociales/borrego.jpg" width="620" alt="Image">
            </div>
            <!-- Image -->
            <div >
              <img src="./assets/img/ecommerce/home/redes-sociales/evento.jpg" width="620" alt="Image">
            </div>
            <!-- Image -->
            <div >
              <img src="./assets/img/ecommerce/home/redes-sociales/gallinas.jpg" width="620" alt="Image">
            </div>

            <div >
              <img src="./assets/img/ecommerce/home/redes-sociales/tienda.jpg" width="620" alt="Image">
            </div>

            <div >
              <img src="./assets/img/ecommerce/home/redes-sociales/maiz.jpg" width="620" alt="Image">
            </div>

            <div >
              <img src="./assets/img/ecommerce/home/redes-sociales/cliente.jpg" width="620" alt="Image">
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--PAGINAS EXTERNAS-->

<!-- Brands -->
<section class="container pb-5 pt-lg-2 mb-3 pb-lg-6">
  <div class="row mt-2">

      <div class="col-md-2 px-3 text-center">
        <a href="#" class="cs-swap-image">
          <img src="assets/img/ecommerce/home/brands/vans.svg" class="cs-swap-to" width="120" alt="Brand logo hover">
          <img src="assets/img/ecommerce/home/brands/vans-g.svg" class="cs-swap-from" width="120" alt="Brand logo">
        </a>
      </div>

      <div class="col-md-2 px-3 text-center">
        <a href="#" class="cs-swap-image">
          <img src="assets/img/ecommerce/home/brands/diesel.svg" class="cs-swap-to" width="120" alt="Brand logo hover">
          <img src="assets/img/ecommerce/home/brands/diesel-g.svg" class="cs-swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="col-md-2 px-3 text-center">
        <a href="#" class="cs-swap-image">
          <img src="assets/img/ecommerce/home/brands/under-armour.svg" class="cs-swap-to" width="120" alt="Brand logo hover">
          <img src="assets/img/ecommerce/home/brands/under-armour-g.svg" class="cs-swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="col-md-2 px-3 text-center">
        <a href="#" class="cs-swap-image">
          <img src="assets/img/ecommerce/home/brands/columbia.svg" class="cs-swap-to" width="120" alt="Brand logo hover">
          <img src="assets/img/ecommerce/home/brands/columbia-g.svg" class="cs-swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="col-md-2 px-3 text-center">
        <a href="#" class="cs-swap-image">
          <img src="assets/img/ecommerce/home/brands/levis.svg" class="cs-swap-to" width="120" alt="Brand logo hover">
          <img src="assets/img/ecommerce/home/brands/levis-g.svg" class="cs-swap-from" width="120" alt="Brand logo">
        </a>
      </div>
      <div class="col-md-2 px-3 text-center">
        <a href="#" class="cs-swap-image">
          <img src="assets/img/ecommerce/home/brands/mango.svg" class="cs-swap-to" width="120" alt="Brand logo hover">
          <img src="assets/img/ecommerce/home/brands/mango-g.svg" class="cs-swap-from" width="120" alt="Brand logo">
        </a>
    </div>
  </div>
</section>