
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <span class="btn-scroll-top-tooltip font-size-sm mr-2 text-light">Subir</span>
        <i class="btn-scroll-top-icon cxi-angle-up"></i>
    </button>
</div>

<!-- <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
    <span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Subir</span>
    <i class="btn-scroll-top-icon cxi-angle-up"></i>
  </a> -->
