
<section class="container-fluid">
  <div class="row">
    <div class="bg-size-cover bg-s py-xl-4" style="background-image: url(./assets/img/ecommerce/contacts/equipoTrabajo.jpg);">
      <div class="container-fluid pt-1 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-8 offset-lg-1 offset-xl-0 pb-1 pb-md-2">
            <h2 class="mb-2 from-top nutras-naranja">Quienes somos</h2>
            <p class="mb-4 pb-3 fs-lg from-bottom text-light">
              Fundada en el 2016, por la necesidad de tener productos de calidad, integrada por jóvenes candelarenses
              que buscan innovar, ofreciendo una gama completa de productos y servicios para el ganadero de hoy.
              Nuestros esquemas de negocios están basados en resultados cuantitativos de los cuales el ganadero 
              obtenga ganancias que permitan que la ganadería se desarrolle. La excelencia en la elaboración de 
              nuestros productos nos ha caracterizado desde nuestros inicios para la alimentación total de todas 
              las especies del rancho, ya que en nuestro catálogo de productos contamos con alimentos especializados 
              para cada especie y función zootécnica. 
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr-light">
</section>
    

<section class="border-bottom">
  <div class="container py-2 pt-md-3">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        
        <p class="h2">
          Misión.
        </p>
        <blockquote class="blockquote my-5">
          <p class="lead text-dark fw-bold">
            Elaborar y comercializar alimentos balanceados de la mejor calidad para la actividad 
            pecuaria coadyuvando al desarrollo integral, siempre anteponiendo la satisfacción 
            total de nuestros clientes.
          </p>
        </blockquote>

        <p class="h2">
          Visión.
        </p>
        <blockquote class="blockquote my-5">
          <p class="lead text-dark fw-bold">
            Ser la mejor empresa de nutrición y servicios agropecuarios más importante, 
            siempre ofreciendo la máxima calidad a nuestros clientes, teniendo como premisa 
            la excelencia y el mejoramiento continuo.
          </p>
        </blockquote>


        <p class="h2">Nuestros valores:</p>
        <ul class="list-unstyled mb-4">
          <li class="d-flex mb-2">
            <i class="cxi-check fs-lg nutras-naranja mt-1 me-2 pe-1"></i>
            <span>Integridad.</span>
          </li>
          <li class="d-flex mb-2">
            <i class="cxi-check fs-lg nutras-naranja mt-1 me-2 pe-1"></i>
            <span>Compromiso.</span>
          </li>
          <li class="d-flex mb-2">
            <i class="cxi-check fs-lg nutras-naranja mt-1 me-2 pe-1"></i>
            <span>Trabajo en equipo.</span>
          </li>
          <li class="d-flex mb-2">
            <i class="cxi-check fs-lg nutras-naranja mt-1 me-2 pe-1"></i>
            <span>Respeto</span>
          </li>
          <li class="d-flex mb-2">
            <i class="cxi-check fs-lg mt-1 me-2 pe-1 nutras-naranja"></i>
            <span>Honestidad</span>
          </li>
        </ul>
       
        <p class="h2">
          Caracteristicas que nos definen:
        </p>
      </div>
    </div>
  </div>
  <section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">

    <div class="cs-steps row">

      <!-- Step -->
      <div class="col-md-3">
        <div class="cs-step mb-md-0 mb-5">
          <div class="cs-step-head mb-3">
            <span class="cs-step-indicator">01</span>
            <span class="cs-step-line"></span>
          </div>
          <div class="cs-step-body">
            <h3 class="h5 mb-2">Entrega a tiempo</h3>
            <p class="mb-3 text-muted">Entregamos nuestros productos en tiempo y forma</p>
          </div>
        </div>
      </div>
    
      <!-- Step -->
      <div class="col-md-3">
        <div class="cs-step mb-md-0 mb-5">
          <div class="cs-step-head mb-3">
            <span class="cs-step-indicator">02</span>
            <span class="cs-step-line"></span>
          </div>
          <div class="cs-step-body">
            <h3 class="h5 mb-2">Servicio de lunes a sabado de 7:00Am a 5:00 Pm</h3>
            <p class="mb-3 text-muted">Contamos con un excelente servicio.</p>
          </div>
        </div>
      </div>
    
      <!-- Step -->
      <div class="col-md-3">
        <div class="cs-step">
          <div class="cs-step-head mb-3">
            <span class="cs-step-indicator">03</span>
            <span class="cs-step-line"></span>
          </div>
          <div class="cs-step-body">
            <h3 class="h5 mb-2">Empresa responsable</h3>
            <p class="mb-3 text-muted">Cuidamos la elaboracion y entrega de nuestros productos.</p>
          </div>
        </div>
      </div>

      <!-- Step -->
      <div class="col-md-3">
        <div class="cs-step">
          <div class="cs-step-head mb-3">
            <span class="cs-step-indicator">04</span>
            <span class="cs-step-line"></span>
          </div>
          <div class="cs-step-body">
            <h3 class="h5 mb-2">Etica profesional</h3>
            <p class="mb-3 text-muted">Promovemos la igualdad y el respeto a nuestros clientes.</p>
          </div>
        </div>
      </div>
    
    </div>

  </section>
  <!-- Horizontal step wrapper -->





  <!-- Vertical cs-steps: right alignment -->
<!-- <div class="cs-steps-vertical">
  <div class="cs-step-vertical">
    <div class="cs-step-line text-primary"></div>
    <div class="cs-step-body">
      <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 1</h4>
      <h3 class="h5 mb-2">Off-Site SEO Analysis</h3>
      <p class="mb-0 text-muted">Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.</p>
    </div>
  </div>
  <div class="cs-step-vertical">
    <div class="cs-step-line text-primary"></div>
    <div class="cs-step-body">
      <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 2</h4>
      <h3 class="h5 mb-2">Technical SEO Optimizations</h3>
      <p class="mb-0 text-muted">Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin egestas laoreet etiam. Nunc nisl orci auctor et fames.</p>
    </div>
  </div>
  <div class="cs-step-vertical">
    <div class="cs-step-line text-primary"></div>
    <div class="cs-step-body">
      <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 3</h4>
      <h3 class="h5 mb-2">Usability Check</h3>
      <p class="mb-0 text-muted">Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat egestas facilisi lobortis. Varius praesent pretium in leo, accumsan, in ultricies. </p>
    </div>
  </div>
  <div class="cs-step-vertical">
    <div class="cs-step-line text-primary"></div>
    <div class="cs-step-body">
      <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 4</h4>
      <h3 class="h5 mb-2">Content Marketing</h3>
      <p class="mb-0 text-muted">Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor. Faucibus in leo, nulla odio nulla imperdiet quis faucibus neque.</p>
    </div>
  </div>
</div> -->
  
</section>


<!-- Hover fade-in effect (with radial progress) -->
