
<section class="container-fluid">
  <div class="row">
    <div class="bg-size-cover bg-s py-xl-6" style="background-image: url(./assets/img/ecommerce/contacts/equipoTrabajo.jpg);">
      <div class="container-fluid pt-5 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-1 pb-md-2">
            <h2 class="mb-2 from-top">Quienes somos</h2>
            <p class="mb-4 pb-3 fs-lg from-bottom">
              Donec eget magna non felis elementum efficitur nec non erat. Integer posuere a nunc id tincidunt. 
              Fusce nulla erat, mattis eu efficitur eu, malesuada et est. Donec sit amet dolor massa. 
              Aenean rutrum mauris ut orci egestas, at accumsan turpis molestie. Morbi egestas leo 
              at eros vehicula rutrum. Maecenas eget malesuada nisi, ullamcorper mollis tortor. 
            </p>
            
            <div class="mb-2 cs-scale-up cs-delay-2">
              <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg">Shop the menswear</a>
            </div>
             Slide 2
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr-light">
</section>
    

<section class="border-bottom">
  <div class="container py-2 pt-md-3">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        
        <p class="mb-2 lead text-dark fw-bold">Vulputate vitae pellentesque scelerisque luctus consequat mattis pellentesque dui odio. Interdum aenean sit malesuada ornare sed gravida rhoncus, congue. Purus auctor nullam diam quis est hendrerit ac euismod.</p>
        <p>At facilisi sapien posuere eget nunc senectus proin nullam. Tortor senectus in et sagittis, vitae diam cras dignissim. Varius adipiscing eget diam nisi. Orci, consectetur vulputate metus ornare pharetra, neque, fermentum. Vel nec rhoncus, non nunc, neque in massa. Feugiat leo nam nisl lacinia amet, odio. Mi varius viverra risus vel.</p>
        <p>Amet, morbi sed pharetra, elit eget mi potenti. Condimentum orci interdum feugiat lectus libero duis. Nisl massa, elementum varius sit. Nunc felis, porttitor aliquam urna, accumsan et sed. Aliquet non sed duis diam vehicula rhoncus. In dictum nullam tincidunt semper pellentesque purus morbi sed. Ut aliquet velit pharetra.</p>
        <blockquote class="blockquote my-5">
          <p class="lead text-dark fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus  facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in tot euismod vulputate etiam eros. Vel accumsan at elit neque, ipsum.</p>
        </blockquote>
        <p>Mauris amet arcu nisl vel dictum tellus. Sed rhoncus, ut sed id ut erat mattis. Vitae mus blandit in neque amet non fringilla blandit:</p>
        <ul class="list-unstyled mb-4">
          <li class="d-flex mb-2">
            <i class="cxi-check fs-lg text-primary mt-1 me-2 pe-1"></i>
            <span>A fermentum in morbi pretium aliquam adipiscing donec tempus.</span>
          </li>
          <li class="d-flex mb-2">
            <i class="cxi-check fs-lg text-primary mt-1 me-2 pe-1"></i>
            <span>Vulputate placerat amet pulvinar lorem nisl.</span>
          </li>
          <li class="d-flex mb-2">
            <i class="cxi-check fs-lg text-primary mt-1 me-2 pe-1"></i>
            <span>Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.</span>
          </li>
          <li class="d-flex mb-2">
            <i class="cxi-check fs-lg text-primary mt-1 me-2 pe-1"></i>
            <span>Etiam duis lobortis in fames ultrices commodo nibh.</span>
          </li>
        </ul>
        <p>Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id nec sed leo. Nisi in ornare lectus eget. Urna, risus, consectetur volutpat lorem purus. Velit aliquet nibh vitae maecenas. Consectetur neque ut aliquam eros, purus enim dignissim aenean vitae. Ultrices fames augue mattis tortor est justo, pharetra nibh risus. Facilisi at porttitor volutpat natoque proin amet, nulla. Vivamus ut lobortis sagittis curabitur tellus convallis eget netus vitae.</p>

        
      </div>
    </div>
  </div>
</section>


<!-- Hover fade-in effect (with radial progress) -->
