<aside class="col-lg-12 pb-lg-5">
    <div id="blog-sidebar" class="offcanvas-lg offcanvas-end">
      
      <div class="offcanvas-body pt-3 pb-1 pt-lg-0">

        <!-- Categories -->
        <div class="widget widget-categories border-bottom pb-1 pb-4 mb-4">
          <h3 class="h4">Categorías</h3>
          <ul class="nav flex-column nutras-naranja">
            <li class="nav-item mr-12">
              <a class="nav-link p-0 " routerLink="/productos-aves" routerLinkActive="active">
                <span class="mr-lg-10 mr-sm-4">Aves</span>
              </a>
            </li>
            <li>
              <a class="nav-link p-0" routerLink="/productos-cerdos" routerLinkActive="active">
                <span>Cerdos</span>
              </a>
            </li>
            <li>
              <a class="nav-link p-0" routerLink="/productos-ovinos" routerLinkActive="active">
                <span>Ovinos</span>
              </a>
            </li>
            <li>
              <a class="nav-link p-0" routerLink="/productos-bovinos" routerLinkActive="active">
                <span>Bovinos</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
</aside>
