<section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">
    <div class="row pb-2 pb-md-3">

      <!-- List of posts -->
      <div class="col-lg-8">
        <h1 class="mb-4 pb-1 pb-md-3">Nuestros eventos nutras</h1>

        <!-- Post -->
        <article class="image-scale card border-0 mb-5 pb-md-2">
          <a href="blog-single.html" class="image-inner card-header mb-3 p-0 border-0 rounded position-relative">
            <img src="./assets/img/ecommerce/blog/01.jpg" alt="Image">
          </a>
          <div class="card-body p-0">
            <ul class="nav nav-muted mb-2 pb-1">
              <li class="nav-item me-2">
                <a href="#" class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal">
                  Fashion
                </a>
                <span class="text-border px-1">|</span>
              </li>
              <li class="nav-item me-2">
                <a href="#" class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal">
                  November 24, 2020
                </a>
                <span class="text-border px-1">|</span>
              </li>
            </ul>
            <h3 class="h5 mb-2 nav-dark">
              <a href="blog-single.html" class="nav-link">Bag Trends for Summer 2020</a>
            </h3>
            <p class="mb-0">Vulputate vitae pellentesque scelerisque luctus consequat mattis pellentesque dui odio. Interdum aenean sit viverra amet,malesuada ornare sed gravida rhoncus, congue. Purus auctor nullam diam quis est hendrerit ac euismod...</p>
          </div>
        </article>

        <!-- Post -->
        <article class="image-scale card border-0 mb-5 pb-md-2">
          <a href="blog-single.html" class="image-inner card-header mb-3 p-0 border-0 rounded position-relative">
            <img src="./assets/img/ecommerce/blog/02.jpg" alt="Image">
          </a>
          <div class="card-body p-0">
            <ul class="nav nav-muted mb-2 pb-1">
              <li class="nav-item me-2">
                <a href="#" class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal">
                  Celebrity style
                </a>
                <span class="text-border px-1">|</span>
              </li>
              <li class="nav-item me-2">
                <a href="#" class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal">
                  November 5, 2020
                </a>
                <span class="text-border px-1">|</span>
              </li>
              <li class="nav-item me-2">
                <a href="#" class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal">
                  <i class="ci-chat mt-n1 me-2 fs-base align-middle"></i>
                  No comments
                </a>
              </li>
            </ul>
            <h3 class="h5 mb-2 nav-dark">
              <a href="blog-single.html" class="nav-link">Wardrobe Essentials Everyone Should Own Today</a>
            </h3>
            <p class="mb-0">Mauris tincidunt sollicitudin tristique odio eget volutpat. Fringilla viverra amet, mi interdum blandit. Tellus sed morbi massa quis sed. Faucibus tincidunt magna enim ultricies fringilla at rhoncus, hac...</p>
          </div>
        </article>

        <!-- Post -->
        <article class="image-scale card border-0 mb-5 pb-md-2">
          <a href="blog-single.html" class="image-inner card-header mb-3 p-0 border-0 rounded position-relative">
            <img src="./assets/img/ecommerce/blog/03.jpg" alt="Image">
          </a>
          <div class="card-body p-0">
            <ul class="nav nav-muted mb-2 pb-1">
              <li class="nav-item me-2">
                <a href="#" class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal">
                  Lifestyle
                </a>
                <span class="text-border px-1">|</span>
              </li>
              <li class="nav-item me-2">
                <a href="#" class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal">
                  October 16, 2020
                </a>
                <span class="text-border px-1">|</span>
              </li>
              <li class="nav-item me-2">
                <a href="#" class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal">
                  <i class="ci-chat mt-n1 me-2 fs-base align-middle"></i>
                  4 comments
                </a> 
              </li>
            </ul>
            <h3 class="h5 mb-2 nav-dark">
              <a href="blog-single.html" class="nav-link">Top 10 of This Season’s Hottest Sneakers</a>
            </h3>
            <p class="mb-0">Sollicitudin et nec congue magna quis commodo quis luctus risus. Dolor, dignissim semper faucibus quisque massa ut enim. Turpis viverra mattis semper pellentesque facilisis. Ut id eget sagittis lectus...</p>
          </div>
        </article>

        <!-- Post -->
        <article class="image-scale card border-0 mb-5">
          <a href="blog-single.html" class="image-inner card-header mb-3 p-0 border-0 rounded position-relative">
            <img src="./assets/img/ecommerce/blog/01.jpg" alt="Image">
          </a>
          <div class="card-body p-0">
            <ul class="nav nav-muted mb-2 pb-1">
              <li class="nav-item me-2">
                <a href="#" class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal">
                  Fashion
                </a>
                <span class="text-border px-1">|</span>
              </li>
              <li class="nav-item me-2">
                <a href="#" class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal">
                  October 2, 2020
                </a>
                <span class="text-border px-1">|</span>
              </li>
              <li class="nav-item me-2">
                <a href="#" class="nav-link d-inline-block me-2 p-0 fs-sm fw-normal">
                  <i class="ci-chat mt-n1 me-2 fs-base align-middle"></i>
                  2 comments
                </a>
              </li>
            </ul>
            <h3 class="h5 mb-2 nav-dark">
              <a href="blog-single.html" class="nav-link">Modern Accessories 2020: Why Simple Isn't Easy</a>
            </h3>
            <p class="mb-0">Tellus sed morbi massa quis sed. Faucibus tincidunt magna enim ultricies fringilla at rhoncus, hac. Sollicitudin et nec congue magna quis commodo quis luctus risus. Dolor, dignissim semper faucibus quisque massa ut enim...</p>
          </div>
        </article>

    
      </div>


      <!-- Sidebar -->
      <aside class="col-lg-4 ps-lg-5">
        <div id="blog-sidebar" class="offcanvas-lg offcanvas-end">
          
          <div class="offcanvas-body pt-3 pb-1 pt-lg-0">

            
            <!-- Featured posts -->
            <div class="widget widget-categories border-bottom pt-1 pb-3 mb-4">
              <h3 class="h4">Featured posts</h3>
              <ul class="list-unstyled">
                <!-- Item -->
                <li class="image-scale d-flex align-items-start mb-4">
                  <a href="blog-single.html" class="flex-shrink-0 image-inner rounded me-3" style="width: 100px;">
                    <img src="assets/img/ecommerce/blog/01.jpg" alt="Image">
                  </a>
                  <div class="ps-1">
                    <span class="d-block mb-1 fs-sm text-muted">
                      <i class="ci-clock fs-base align-middle mt-n1 me-2"></i>
                      July 5, 2020
                    </span>
                    <h4 class="h6 mb-1 nav-dark">
                      <a href="blog-single.html" class="nav-link">14 Items From End-of-Spring Sales Are Sure to Spark Joy</a>
                    </h4>
                  </div>
                </li>
                <!-- Item -->
                <li class="image-scale d-flex align-items-start mb-4">
                  <a href="blog-single.html" class="flex-shrink-0 image-inner rounded me-3" style="width: 100px;">
                    <img src="assets/img/ecommerce/blog/03.jpg" alt="Image">
                  </a>
                  <div class="ps-1">
                    <span class="d-block mb-1 fs-sm text-muted">
                      <i class="ci-clock fs-base align-middle mt-n1 me-2"></i>
                      April 9, 2020
                    </span>
                    <h4 class="h6 mb-1 nav-dark">
                      <a href="blog-single.html" class="nav-link">Best Fashion Instagrams of the Week</a>
                    </h4>
                  </div>
                </li>
                <!-- Item -->
                <li class="image-scale d-flex align-items-start mb-4">
                  <a href="blog-single.html" class="flex-shrink-0 image-inner rounded me-3" style="width: 100px;">
                    <img src="assets/img/ecommerce/blog/01.jpg" alt="Image">
                  </a>
                  <div class="ps-1">
                    <span class="d-block mb-1 fs-sm text-muted">
                      <i class="ci-clock fs-base align-middle mt-n1 me-2"></i>
                      March 12, 2020
                    </span>
                    <h4 class="h6 mb-1 nav-dark">
                      <a href="blog-single.html" class="nav-link">Top 10 Looks from the Venice Film Festival</a>
                    </h4>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </aside>
    </div>
  </section>