

<section class="container-fluid ">
    <div class="row">
      <div class="bg-size-cover  py-xl-6" style="background-image: url(./assets/img/ecommerce/home/categories/slider-cerdos.jpg);">
        <div class="container-fluid pt-5 pb-3">
          <div class="row pb-lg-6">
            <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-1 pb-md-2">
              <h2 class="mb-2 from-top text-light">Productos especiales para cerdos</h2>
              <p class="mb-2 pb-3 fs-lg from-bottom text-dark">
                Conoce nuestra amplia gama de alimentos para cerdos, contamos con alimentos para cada etapa de tus animales
                Alimentos para cerdos de Inicio, Crecimiento, Desarrollo, Finalizador-Raptopamina y Finalizador.
              </p>
              
            
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <hr class="hr-light">

  </section>


  

  <div class="container">
    <div class="row ">
        <div class="col-lg-9 ">
            <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/cerdos/cerdo-inicio.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">CERDO INICIO (Proteína 19%)</h5>
                  <p class="card-text fs-sm">
                    Ofrecer este alimento a los cerdos a partir de los 14 kg de peso vivo y hasta alcanzar los 32 kg.
                  </p>
                  <!-- <button type="button" class="btn background-btn-naranja text-light mt-1" data-toggle="modal" data-target="#exampleModal">
                    Ver mas detalles
                  </button>

                  <button type="button" class="btn btn-success text-light ml-1 mt-1" data-toggle="modal" data-target="#exampleModal">
                    Contactar
                  </button> -->
                  <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" 
                  target="_blank" 
                  class="btn background-btn-naranja">
                  Contactar con Proveedor
                  </a>
                </div>
                
            </div>
        
              <hr>
        
              <!-- card -->
            <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/cerdos/cerdo-crecimiento.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">CERDO CRECIMIENTO (Proteína 18%)</h5>
                  <p class="card-text fs-sm">
                    Ofrecer este alimento a los cerdos a partir de los 32 kg de peso vivo y hasta alcanzar los 52 kg.
                  </p>
                  <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" 
                  target="_blank" 
                  class="btn background-btn-naranja">
                  Contactar con Proveedor
                  </a>
                </div>
            </div>

            <hr>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/cerdos/cerdo-desarrollo.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">CERDO DESARROLLO (Proteína 17%)</h5>
                  <p class="card-text fs-sm">
                    Ofrecer este alimento a los cerdos a partir de los 52 kg de peso vivo y hasta alcanzar un peso de 77 kg. 
                  </p>
                  <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" 
                  target="_blank" 
                  class="btn background-btn-naranja">
                  Contactar con Proveedor
                  </a>
                </div>
              </div>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/cerdos/cerdo-engorda.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">CERDO ENGORDA-RACTOPAMINA (Proteína 18%)</h5>
                  <p class="card-text fs-sm">
                    Ofrecer este alimento a los cerdos a partir de los 77 kg de peso vivo y hasta alcanzar los 105 kg. 
                  </p>
                  <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" 
                  target="_blank" 
                  class="btn background-btn-naranja">
                  Contactar con Proveedor
                  </a>
                </div>
              </div>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/cerdos/cerdo-gestacion.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">CERDO GESTACIÓN 14 (Proteína 14%)</h5>
                  <p class="card-text fs-sm">
                    Alimento para hembras gestantes y sementales, ofrecer de acuerdo a la condición corporal de los animales  
                  </p>
                  <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" 
                  target="_blank" 
                  class="btn background-btn-naranja">
                  Contactar con Proveedor
                  </a>
                </div>
              </div>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/cerdos/cerdo-lactancia.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">CERDO LACTANCIA 17 (Proteína 17%)</h5>
                  <p class="card-text fs-sm">
                    Alimento para hembras gestantes y sementales, ofrecer de acuerdo a la condición corporal de los animales  
                  </p>
                  <a href="https://api.whatsapp.com/send?phone=+529821183562&text=Hola, Nececito mas informacion!" 
                  target="_blank" 
                  class="btn background-btn-naranja">
                  Contactar con Proveedor
                  </a>
                </div>
              </div>

        </div>
        <!--Slider horizontal-->
        <div class="col-lg-3 pb-lg-5">
            <app-slider-horizontal></app-slider-horizontal>
        </div>
        
    </div>
    
  </div>



  <app-modal-aves></app-modal-aves>