
<section class="container-fluid ">
    <div class="row">
      <div class="bg-size-cover  py-xl-6" style="background-image: url(./assets/img/ecommerce/home/categories/slider-bovinos.jpg);">
        <div class="container-fluid pt-5 pb-3">
          <div class="row pb-lg-6">
            <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-1 pb-md-2">
              <h2 class="mb-2 from-top text-light">Productos especiales para bovinos</h2>
              <p class="mb-2 pb-3 fs-lg from-bottom text-dark">
                Conoce nuestra amplia gama de alimentos para bovinos, contamos con alimentos para cada etapa de tus animales
                Contactanos, y conoce la gran variedad de alimentos para ganado que tenemos para tí
              </p>
              
            
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <hr class="hr-light">

  </section>


  

  <div class="container">
    <div class="row ">
        <div class="col-lg-9 ">
            <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/bovinos/bovino.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">BECERRO 20</h5>
                  <p class="card-text fs-sm">
                    Ofrecer este alimento a becerros a partir de 150 kg de peso vivo. 
                    Ofrecer forraje a libre acceso durante todo el periodo.
                  </p>
                  <!-- <button type="button" class="btn background-btn-naranja text-light mt-1" data-toggle="modal" data-target="#exampleModal">
                    Ver mas detalles
                  </button>

                  <button type="button" class="btn btn-success text-light ml-1 mt-1" data-toggle="modal" data-target="#exampleModal">
                    Contactar
                  </button> -->
                </div>
                
            </div>
        
              <hr>
        
              <!-- card -->
            <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/bovinos/bovino.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">ENGORDA 14 </h5>
                  <p class="card-text fs-sm">
                    Se recomienda ofrecer este alimento a ganado bovino después del destete.
                  </p>
                  
                </div>
            </div>

            <hr>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/bovinos/bovino.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">EXPO 16 </h5>
                  <p class="card-text fs-sm">
                    Ofrecer este alimento a los bovinos, debe mezclarse con un 22-24% de forraje seco, 
                    durante los primeros 15 a 21 días de adaptación del ganado al alimento, 
                    durante la preparación del ganado para exposición.  
                  </p>
                  
                </div>
              </div>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/bovinos/bovino.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">DESARROLLO 17 </h5>
                  <p class="card-text fs-sm">
                    Ofrecer este alimento a becerros a partir de 200kg de peso vivo. Ofrecer forraje a libre acceso durante todo el periodo.  
                  </p>
                </div>
              </div>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/bovinos/bovino.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">LECHERO 20 </h5>
                  <p class="card-text fs-sm">
                    Alimento balanceado para vacas en producción que se puede complementar con forrajes de buena calidad.  
                  </p>
                </div>
              </div>

              <!-- card -->
              <div class="card card-horizontal mt-3">
                <div class="card-img-top" style="background-image: url(./assets/img/ecommerce/home/categories/bovinos/bovino.jpg);"></div>
                <div class="card-body">
                  <h5 class="card-title">PASTOREO 30 PLUS </h5>
                  <p class="card-text fs-sm">
                    El pastoreo 30 contiene un ionoforo que actúa como promotor del crecimiento. Diseñado para asegurar
                     que el ganado obtenga todos los macro minerales y minerales, traza para maximizar la utilización del 
                     forraje y las ganancias de peso. 
                  </p>
                </div>
              </div>
              



        </div>
        <!--Slider horizontal-->
        <div class="col-lg-3 pb-lg-5">
            <app-slider-horizontal></app-slider-horizontal>
        </div>
        
    </div>
    
  </div>



  <app-modal-aves></app-modal-aves>