<!-- Footer -->
<footer class="cs-footer bg-light pt-sm-5 pt-4">
    <div class="container pt-3">
      <div class="row pb-sm-2">
        <div class="col-6 col-sm-3 col-lg-2 mb-4">
          <h3 class="h6 mb-2 pb-1 text-uppercase ">Productos</h3>
          <ul class="nav nutras-naranja flex-column">
            <li class="nav-item mb-2">
              <a routerLink="productos-aves" routerLinkActive="active" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Aves</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="productos-bovinos" routerLinkActive="active" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Bovinos</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="productos-cerdos" routerLinkActive="active" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Cerdos</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="productos-ovinos" routerLinkActive="active" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Ovinos</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 col-xl-3 mb-4">
          <h3 class="h6 mb-2 pb-1 text-uppercase pl-xl-6 ">Otros</h3>
          <ul class="nav flex-column pl-xl-6">
            <li class="nav-item mb-2">
              <a routerLink="inicio" routerLinkActive="active" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Inicio</a>
            </li>

            <li class="nav-item mb-2">
              <a routerLink="noticias" routerLinkActive="active" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Noticias</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="contacto-nutras" routerLinkActive="active" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Distribuidores</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="nosotros" routerLinkActive="active" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal ">Nosotros</a>
            </li>
            
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 pb-2 pb-lg-0 mb-4 nutras-naranja">
          <h3 class="h6 mb-2 pb-1 text-uppercase ">Ponerse en contacto</h3>
          <ul class="nav flex-column pb-3">
            <li class="nav-item text-nowrap mb-2">
              <span class="nutras-naranja mr-1 text-dark ">Telefono:</span>
              <a href="tel:9821183562" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal nutras-naranja">(982)118 3562</a>
            </li>
            <li class="nav-item text-nowrap mb-2">
              <span class="mr-1 text-dark">Correo:</span>
              <a href="mailto:nutras123@outlook.com" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal nutras-naranja">nutras123@outlook.com</a>
            </li>
          </ul>
          <a href="https://www.facebook.com/NUTRASCANDELARIA2016" target="_blank" class="social-btn sb-solid sb-light mr-2">
            <i class="cxi-facebook nutras-naranja"></i>
          </a>
          <a href="#" class="social-btn sb-solid sb-light mr-2">
            <i class="cxi-youtube nutras-naranja"></i>
          </a>
        </div>
        
      </div>
    </div>
    <div class="border-top border-light">
      <div class="container py-4">
        <div class="font-size-xs nutras-naranja">
          <span class="font-size-sm nutras-naranja">&copy; </span>
          All rights reserved. Made with 
          <a href="#" class="nutras-naranja" target="_blank" rel="noopener noreferrer">by Soluciones Digitales</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
    <span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2 nutras-naranja">Subir</span>
    <i class="btn-scroll-top-icon cxi-angle-up nutras-naranja"></i>
  </a> -->
  <app-scroll-to-top></app-scroll-to-top>